# Исключаем скомпилированные Python-файлы
__pycache__/
*.pyc
*.pyo

# Исключаем файлы виртуального окружения
venv/
env/

# Исключаем файлы конфигурации IDE
*.iml
.idea/
*.vscode/

# Исключаем личные ключи (ОЧЕНЬ ВАЖНО!)
my_key_git_file
my_key_git_file.pub

# Исключаем файлы журналов и временные файлы
*.log
*.tmp